@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}
.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}

:root {
  --text-green: #1a5c62;
  --text-pink: #e7938e;
  --fast-animate: cubic-bezier(0, 0.68, 0, 0.99);
}

body {
  padding: 0px 72px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: NanumSquare;
}

@media screen and (max-width: 840px) {
  body {
    padding: 0px 12px;
  }
}

.pagewrapper {
  margin-top: 60px;
  display: flex;
}

.pagewrapper > div:nth-child(2) {
  flex: 1;
  max-width: 750px;
  margin: 0px auto;
}

@media screen and (max-width: 1100px) {
  .pagewrapper > div:nth-child(2) {
    max-width: unset;
  }
}

@media screen and (max-width: 610px) {
  .pagewrapper {
    margin-top: 20px;
  }
}

.article h1:first-child {
  margin-top: 0px;
}

.article h1 {
  font-family: NanumSquare;
  font-weight: 900;
  font-size: 28px;
}

text-card + text-card {
  margin-left: 12px;
}

.horizontal {
  display: flex;
}

.coming_soon {
  border: 1px solid #dbdbdb;
  background-color: #efefef;
  display: grid;
  place-items: center;
  font-size: 15px;
  color: #838383;
  margin-left: 12px;
  padding: 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 610px) {
  .horizontal {
    flex-direction: column;
  }
  text-card + text-card {
    margin-left: 0px;
    margin-top: 12px;
  }
  .coming_soon {
    margin-left: 0px;
    margin-top: 12px;
  }
}
