@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-green: #1a5c62;
  --text-pink: #e7938e;
}

body {
  margin: 0px;
  padding: 0px 72px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
